/*********************
Table of Contents

* 1.0 Reset
* 2.0 Globals
* 3.0 Header
* 4.0 Banner
* 5.0 Main
*     5.1 Main: About Me 
*     5.2 Main: Work
*     5.3 Main: Contact Me
* Media Queries

********************/

/*****************/
/*** 1.0 Reset ***/
/*****************/

/* include padding and content when calculating element width and height */
/* set padding and margins to zero */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* give the body element a parent height to compare against */
html {
    height: 100%;
}
  
body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

/* resetting heading font sizes */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* remove bullet styling from lists */
ul, ol {
    list-style-type: none;
}
  
/*******************/
/*** 2.0 Globals ***/
/*******************/

/* style anchors as plain white text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set paragraph element font size to 16px */
p {
    font-size: 16px;
}

/******************/
/*** 3.0 Header ***/
/******************/

/* add space around header */
/* set header font and background color */
.header {
    padding: 20px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background-color: #3D5A80;
    color: #ffffff;
}

/* give developer name red background */
/* add spacing around developer name and set max width to content */
.header h1 {
    background-color: #EE6C4D;
    display: inline-block;
    font-size: 48px;
    padding: 5px 20px 5px 60px;
    margin: 0px;
    max-width: max-content;
}

/* add space around nav */
/* position nav on right of header */
.header nav {
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* make list items appear on one line */
.header ul li {
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: underline;
    margin: 10px;
    text-underline-offset: 5px;
}

/* make nav links light blue on hover */
.header ul li a:hover {
    color: #E0FBFC;
}

/******************/
/*** 4.0 Banner ***/
/******************/

/* make banner figure section take 100% of browser width */
.banner {
    width: 100%;
    display: block;
    position: relative;
}

/* make banner image fit in 100% of browser width */
.banner-image {
    width: 100%;
    display: block;
}

/* position subtitle in bottom right of banner */
/* style subtitle in similar way to developer name */
.banner-caption {
    position: absolute;
    bottom: 12.5px;
    right: 0px;
    font-size: 28px;
    color: #ffffff;
    background-color: #EE6C4D;
    margin: 0px 20px 0px 0px;
    padding: 5px 20px 5px 20px; 
}

/****************/
/*** 5.0 Main ***/
/****************/

/* make main section display as flex */
/* put spacing below main section */
.main-section {
    display: flex;
    margin: 20px 10px 20px 10px;
    width: 100%;
}

/* style main headings with large, blue text */
/* put spacing around main headings */
.main-heading {
    color: #3D5A80;
    font-size: 36px;
    padding: 15px;
    text-align: right;
    margin: 10px 15px 10px 100px;
    border-right: 3.5px solid #3D5A80;
    min-width: 200px;
    max-width: 200px;
}

/* make full section content take 100% of container */
.main-section-content-full {
    width: 100%; 
}

.bio-link {
  color: #3D5A80; 
  font-weight: bolder;
}

.bio-link:hover {
  text-decoration: underline;
}

.hidden-link {
  color: #293241;
}

.hidden-link:hover {
  color: #EE6C4D;
}

/**************************/
/*** 5.1 Main: About Me ***/
/**************************/

/* make about me text blue, add spacing, and take 75% of container */
.about-me-text {
    color: #293241;
    margin: 10px 100px 10px 10px;
    line-height: 1.3;
    width: 75%;
    font-size: large;
}

.resume-download-text {
  color: #293241;
  text-decoration: underline;
}

/**********************/
/*** 5.2 Main: Work ***/
/**********************/

/* adding width to application gallery */
.application-gallery {
   width: 85%;
}

/* set position to relative to allow for absolute placement of child */
.application-top {
    position: relative;
}

/* adding figcaption to top image */
.application-top-caption {
    position: absolute;
    bottom: 50px;
    left: 10px;
    font-size: 24px;
    color: #ffffff;
    background-color: #3D5A80;
    margin: 0px 20px 0px 0px;
    padding: 5px 20px 5px 20px; 
}

/* make application top image take up 85% of container */
.application-top-image {
    width: 85%;
    margin: 10px 100px 10px 10px;
}

/* set dimenions of application sub section */
/* switching application sub section to display flex */
.application-sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* set sub wrap position to relative to allow for absolute placement of child */
.application-sub-wrap {
    position: relative;
}

/* add figcaption to sub image */
.application-sub-caption {
    position: absolute;
    bottom: 50px;
    left: 10px;
    font-size: 24px;
    color: #ffffff;
    background-color: #3D5A80;
    margin: 0px 20px 0px 0px;
    padding: 5px 20px 5px 20px; 
}

/* make application sub images take up 40% of container */
.application-sub-image {
    /* max-width: 40%; */
    /* max-width: 300px; */
    /* margin: 10px 100px 10px 10px; */
    min-width: 40%;
    max-width: 300px;
    margin: 10px;
}

.small-text {
  font: small-caption;
}

/****************************/
/*** 5.3 Main: Contact Me ***/
/****************************/

/* set footer font */
/* add space around footer */
.footer {
    padding: 20px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/* add space around footer list, set font size */
.footer ul {
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 20px;
    font-size: 20px;
}

/* style footer list items */
.footer ul li {
    padding-bottom: 5px;
    text-decoration: underline;
    margin: 10px;
    text-underline-offset: 5px;
}

/* set footer anchor tags to dark blue */
.footer ul li a {
    color: #3D5A80;
}

/**********************/
/*** Media Queries ***/
/**********************/

/* Smartphone - responsiveness
- navbar displays as column and shifts to right
- banner is hidden
- about-me, work sections shift to column
- main headings and main sections shift to left
- margins are narrowed appropriately */
@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header ul li {
        margin: 5px;
    }

    .banner {
        display: none;
    }

    .main-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-heading {
        text-align: left;
        margin: 5px 20px 5px 5px;
        border-right-style: none;
        border-bottom: 3.5px solid #3D5A80;
        min-width: 315px;
    } 

    .about-me-text {
        margin: 5px;
    }
}